/* Form and image */
.form-with-img {
  display: grid;
  grid-template-columns: 60% 40%;
  text-align: center;
  padding: 10px;
}

/* SignIn-Form */
.SignIn-Form {
  border: 3px solid green;
  border-radius: 30px;
  padding: 5px;
}

.mainForm {
  width: 80%;
  padding: 5%;
}

.form-with-img img {

  width: 90%;
  height: 90%;
}

.MuiInputBase-colorPrimary {
  background-color: white !important;
}

#usericon-img {
  width: 30%;
}

.UserIconDiv {
  margin-bottom: 20px;
  text-align: center;
}


.SignInLabel {
  width: 30% !important;
}

.loginBtn {
  background-color: green !important;
  width: 60% !important;
  border-radius: 15px !important;
}



/* #SignUp form. */

.SignUpForm-MainDiv {
  width: 50%;
  /* margin-left: 15%; */
  border: 3px solid Green;
  border-radius: 25px;
  margin: 30px;
  text-align: center;
}




.signUpForm {
  /* margin: 10px; */
  /* margin-left: 25%; */
  padding: 30px;
}

.img-in-signup {
  width: 45%;
  height: 100%;
  margin-top: 15%;
}

.tablestyling {
  width: 100%;
}

@media only screen and (max-width:500px) {
  td {
    display: block;
    text-align: center;
    width: 100%;
  }

  .signUpForm {
    margin-left: 0px;
  }
}

td>input {
  width: 100%;
  padding: 10px;
  outline: none;
}

.iconswithinputs {

  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icons {
  padding: 10px;
  background: green;
  color: white;
  min-width: 50px;
  text-align: center;
}